body {
    font-size: 1.5rem;
    font-family: "Josefin Sans";
}

.background {
    background-image: url(./images/bg-pattern-desktop.svg);
}

.initial-header {
    margin: 1.5em 0 0.5em 5em;
}

.logo-img {
}

h1 {
    margin: 2em 0 0.5em 0;
    font-size: 3rem;
    color: hsl(0, 80%, 86%);
    font-weight: 300;
    inline-size: 0;
    line-height: 1.1;
    letter-spacing: 15px;
}

strong {
    color: hsl(0, 6%, 24%);
    font-weight: 900;
}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}