body {
    font-size: 16px;
    font-family: "Josefin Sans";
    color: hsl(0, 36%, 70%);
}

main {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.header__image-mobile {
    display: none;
}

.header__content {
    margin: 70px 110px;
}

.header__text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__logo-img {
    margin-bottom: 60px;
}

.header__content h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 15px;
    inline-size: 0;
    margin-top: 60px;
}

.header__content b {
    font-weight: 900;
    color: hsl(0, 6%, 24%);
}

p {
    max-width: 405px;
    min-width: 405px;
    line-height: 1.5;
    margin: 15px 0 15px;
    color: hsl(0, 93%, 68%);
}

.header__form {
    display: flex;
    justify-content: flex-start;
}

.header__form-input--email:focus {
    outline: none !important;
    border-color: pink;
    box-shadow: 0 0 10px pink;
}

button {
    border-radius: 45px;
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: hsl(0, 74%, 74%) solid 2px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    margin-left: -45px;
    padding: 0 35px 0 35px;
}

button:hover {
    background: linear-gradient(to right, hsl(0, 100%, 98%), hsl(0, 80%, 86%));
    padding: 0 40px 0 40px;
    margin:  -5px -10px -5px -50px;
    transition transform: 200ms, border 200ms;
    border: solid hsl(0, 74%, 74%) 1px;
    cursor: pointer;
}

button:active {
    border-color: pink;
    box-shadow: 0 0 10px pink;
}

::placeholder {
    color:hsl(0, 80%, 86%);
}

.header__form-input--email {
    border-radius: 45px;
    border: hsl(0, 80%, 86%) solid 1px;
    font-size: 16px;
    padding: 15px 160px 15px 25px;
}

.header__image-desktop {
}

footer {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 11px;
}

.header_imgError {
    margin: 0 0 40px -120px;
}

.header_result {
    color: red;
    font-size: 14px;
    position: absolute;
    margin: 75px 0 0 25px;
    font-weight: 900;
}




/* Versão Mobile ------------------------------------------------------------------------*/
@media (max-width: 700px) {

main {
    flex-direction: column;
    align-items: center;
    height: 110vh;
}

.header__image-desktop {
    display: none;
}

.header__image-mobile {
    display: flex;
    width: 100vw;
}

.header__logo-img {
    margin: 30px;
}

.header__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__content {
    margin: 0;
    align-items: center;
}

.header__content h1 {
    font-size: 50px;
    text-align: center;
    inline-size: unset;
}

.header__content p {
    max-width: 335px;
    min-width: 320px;
}

.header__form-input--email {
    padding: 15px 100px 15px 20px;
}

footer {
    margin: 50px 0 10px 0;
}

.header_result {
    margin: 75px 0 0 -156px;
}


}
